{
    "trailingComma": "es5",
    "singleQuote": true,
    "overrides": [
        {
            "files": ["*.js", ".jsx", ".ts", ".tsx"],
            "options": {
                "tabWidth": 4
            }
        }
    ]
}
