p {
  padding: 0.1rem;
}

h1 {
  padding: 2rem 0 1rem 0;
}

body {
  background-color: #efefef;
  margin: auto;
  width: 100%;
}

#footer {
  padding: 0.5rem 0 0 0;
  background-color: #0081a4;
}

#root {
  background-color: #efefef;
  font-size: 20px;
  margin: auto;
  text-align: center;
  /* TODO font type? */
}

#header {
  padding: 1rem;
  margin-top: 4.2rem;
  background-color: #0081a4;
  color: #ffffff;
}

#player-search-form {
  width: 70%;
}

#upcoming-fixtures {
  width: 100%;
}

.nav-tabs .nav-link {
  color: #000;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.footer-logos {
  width: 32px;
  height: 32px;
  margin: 0.7rem;
}

.footnote {
  margin: 0;
  font-size: 14px;
}

.card {
  margin: 0 auto;
  float: none;
  margin-bottom: 10px;
}
