p {
  padding: 0.3rem;
}

h2 {
  font-size: 2rem;
}

body {
  background-color: #112b3c;
  margin: auto;
  width: 100%;
}

#root {
  background-color: #112b3c;
  color: #efefef;
  font-size: 20px;
  margin: auto;
  text-align: center;
}

#header {
  padding: 2rem;
}
